/*---------------------------------------------------------------------*/
/* Farben */
:root {
    --linkc: #000000; /*Schrift Farbe*/
    --backg: #ffffff; /*Hintergrund Farbe*/
    --hovg: #0692e32a; /*Hover Farbe*/
    --them: #0692e317;/*Normaler Cartenhintergrund*/
    --popupborder: #dee2e64b; /* Border Farbe für Popups*/
    --circle-color: #0693e3; /* Hier änderst du die Farbe auf deine gewünschte Farbe */
    --line-color: #0693e3; /* Hier änderst du die Farbe auf deine gewünschte Farbe */


}

/*---------------------------------------------------------------------*/
/* CSS für das Netz (Beta) */

@media (max-width: 768px) {
    #backgroundCanvas {
        width: 100%;
        /* Größe anpassen */
        height: auto;
        /* Größe anpassen */
    }
}

#backgroundCanvas.hidden {
    display: none;
}


  .circle {
      fill: var(--circle-color);
  }

  .line {
      stroke: var(--line-color);
  }

   canvas {
       position: absolute;
       top: 0;
       left: 0;
       pointer-events: none;
   }
   

/*---------------------------------------------------------------------*/
/* Gesammter Body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------------------------------*/
/* Hintergrund Farbe mit Transition */
.bodygg{
background-color: var(--backg);
transition: 0.5s;
}

/*---------------------------------------------------------------------*/
/* So bleibt der Footer immer unten */
footer {
    margin-top: auto;
}


/*---------------------------------------------------------------------*/
/* CSS für alle Popups / Moduals */
#modual{
background-color: var(--backg);
color: var(--linkc);
}


/*---------------------------------------------------------------------*/
/* CSS für das Eingabe Feld für Name ändern */
#namee{
background-color: var(--backg);
color: var(--linkc);
}


/*---------------------------------------------------------------------*/
/* 4 Buttons für die Navigation / ganz oben */
.butl{
        white-space: nowrap;
        color: var(--linkc);
        border-radius: 40px;
        padding: 20px;
        transition: 0.5s;
        background-color: var(--them)
        
}

.butl:hover{
    background-color: var(--hovg);
    transition: all;
    transition: 0.5s;

}

/*---------------------------------------------------------------------*/
/* "Bestätigen" Buttom für Popup TicTacToe und Name ändern */
.buts {
    white-space: nowrap;
    color: var(--linkc);
    border-radius: 40px;
    padding: 10px;
    transition: 0.5s;
}

.buts:hover {
    background-color: var(--hovg);
    transition: all;
    transition: 0.5s;
    cursor: pointer;
   }

/*---------------------------------------------------------------------*/
/* Abgerundete Ecken für jede Karte */
.card{
    border-radius: 40px; 
}

/*---------------------------------------------------------------------*/
/* Standart Schrift */
.clink {
    color: var(--linkc);
    text-decoration: none;
    transition: 0.5s;
}

/*---------------------------------------------------------------------*/
/* Schrift mit einem Link */
.link {
    text-decoration: none;
    color: var(--linkc);
    transition: transform 0.3s;
}

.link:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}


/*---------------------------------------------------------------------*/
/* CCS für das Logo */
.Logo {

    width: 100px;
    height: 50px;
    transition: 0.5s;
    fill: var(--linkc);
}

/*---------------------------------------------------------------------*/
/* CSS für den Button Mode wechsel */
.mode {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
   
    
}

.mode:hover {
    background: var(--hovg);
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

/*---------------------------------------------------------------------*/
/* CSS für den Go TO Top Buttom*/
   #myBtn {
    color: var(--linkc);
       display: none;
       position: fixed;
       bottom: 20px;
       right: 20px;
       z-index: 99;
       border: none;
       outline: none;
       cursor: pointer;
       padding: 5px;
       border-radius: 40px;
       background: var(--them);
       transition: transform 0.3s;
   }
   #myBtn:hover {
    background: var(--hovg);
    transform: scale(1.1);
   }

 
   /*---------------------------------------------------------------------*/
   /* CSS Effeckt für Karten mit Link / auf der Startseite */
   #hov {
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       transition: transform 0.3s;
       background-color: var(--them);
   }

   #hov:hover {
    background-color: var(--hovg);
    transform: scale(1.05);
       cursor: pointer;

   }

   /*---------------------------------------------------------------------*/
   /* CSS Effeckt für Karten ohne Link / im Impressum */
   #hovc {
       background-color: var(--them);
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       transition: 0.5s;
   }

   #hovc:hover {
        background-color: var(--hovg);
        transform: scale(1.02);
        cursor: default; /* Normaler Curser */

   }

/*---------------------------------------------------------------------*/
/* ALles langsam erscheinen */
         .box {
            
             opacity: 0; /* Start with opacity 0 */
             transition: opacity 3s ease; /* Langsam erscheinen 3s */
            
         }
    
         .visible {
             opacity: 1; 
         }
                 .box.visible {
                     opacity: 1;
                     transition: opacity 3s ease;
                    
                 }
/*---------------------------------------------------------------------*/
